APScheduler==3.10.1
asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
dataclasses-json==0.5.8
distlib==0.3.7
Django==4.2.4
django-cors-headers==4.2.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
et-xmlfile==1.1.0
filelock==3.12.4
gunicorn==21.2.0
idna==3.4
marshmallow==3.20.1
marshmallow-enum==1.5.1
mypy-extensions==1.0.0
numpy==1.25.2
openpyxl==3.1.2
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
platformdirs==3.10.0
pycryptodome==3.18.0
PyJWT==2.8.0
python-dateutil==2.8.2
python-http-client==3.3.7
pytz==2023.3
requests==2.31.0
sendgrid==6.10.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
urllib3==1.26.12
virtualenv==20.24.5
whitenoise==6.5.0
